<div class="pg-account-menu d-none d-md-block" style="margin-top: 80px">
        <div id="menu" class="container container--sm">
    
            <a href="homepage/me/edit-account" class=""><span class="rel ">Cài đặt tài khoản</span> </a>
    
            <a href="homepage/me/change-password" class=""><span class="rel font-weight-bolder text-primary">Thay đổi mật khẩu</span></a>
    
            <a href="homepage/me/history-rent" class="nuxt-link-exact-active nuxt-link-active active"><span class="rel" >Lịch sử đặt phòng</span></a>
    
            <a href="homepage/me/history-for-rent" class=""><span class="rel">Lịch sử cho thuê</span></a>
    
            <a href="homepage/me/result-view" class=""><span class="rel">Tổng hợp</span></a>
    
        </div>
    </div>